@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* color variables */
:root {
  --clr-primary: #5995e2;
  --clr-primaryr: #e74b4b;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
}

/* border radius */
:root {
  --radius: 0.7rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /* flex-direction: column; */
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
    /* display: grid; */
    /* display: flex; */
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem; 
    /* margin: 0 -5px; */
    /* float: left; */
    /* width: 25%; */
    padding: 50px 300px;
    }

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px var(--clr-gray300);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card__image {
  height: 12rem;
  /* flex-direction: column; */
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 0px;
}

.card__date {
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card__description {
  padding: 0 1rem;
}

.card__btn {
  padding: 0.05rem 0.2rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 1.5px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
  display: flex;
  justify-content: flex-end;
  margin-left: 85%;
}

.card__btnr {
  padding: 0.3rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid var(--clr-primaryr);
  background: transparent;
  color: var(--clr-primaryr);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
  display: flex;
  justify-content: flex-end;
  margin-left: 45%;
}


.card:hover {
  transform: scale(1.02);
}

.cardb:hover {
  transform: scale(0.5);
}

.cardb:hover .card__btn {
  background: var(--clr-primaryr);
  color: white; 
}


.cardb:hover .card__btnr {
  background: var(--clr-primaryr);
  color: white;
}
.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

/* .card__btns {
  display: flex;
  align-items: left;
  justify-content: space-between;
} */
.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__btns {
  display: flex;
  justify-content: center;
  align-items: 50px;
  justify-content: space-between;
  margin-right: 10px;
}

.card__btn {
  margin-right: 10px;
  justify-content: center;
}
